<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Padawans Framework</title>
<meta charset="utf-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
</head>
<body>
	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">User Id</th>
			<th scope="col">Title</th>
			<th scope="col">completed</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="todo: ${todos}">
			<td th:text="${todo.id}" />
			<td th:text="${todo.userId}" />
			<td th:text="${todo.title}" />
			<td th:text="${todo.completed}" />
		</tr>
		</tbody>
	</table>
</body>
</html>