<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Padawans Framework</title>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
	<table class="table table-striped">
		<thead class="table-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Usuário</th>
			<th scope="col">Titulo</th>
			<th scope="col">Status</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="todo: ${todos}">
			<td th:text="${todo.id}" />
			<td th:text="${todo.userId}" />
			<td th:text="${todo.title}" />
			<td th:text="${todo.completed ? '✔' : '┅'}" />
		</tr>
		</tbody>
	</table>
	<p align="center"><caption th:text="'Total de registros: ' + ${todosNumber}" style="text-align: center" /></p>
	<nav aria-label="Page navigation" style="margin-top: -0rem;">
		<ul class="pagination justify-content-center">
	    	<li class="page-item disabled">
		    	<li class="page-item"><a class="page-link" th:href="${path} +'1'">1</a></li>
			    <li class="page-item"><a class="page-link" th:href="${path} +'2'">2</a></li>
			    <li class="page-item"><a class="page-link" th:href="${path} +'3'">3</a></li>
			    <li class="page-item"><a class="page-link" th:href="${path} +'4'">4</a></li>
			    <li class="page-item"><a class="page-link" th:href="${path} +'5'">5</a></li>
			    <li class="page-item"><a class="page-link" th:href="${path}">TODAS</a></li>
		    </li>
		</ul>
	</nav>	
</body>
</html>